LogicApp/LogicApp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "CheckBoilerParts": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://fieldengineer.azurewebsites.net/api/BoilerParts/@{triggerBody()?['boilerPartId']}"
                },
                "runAfter": {},
                "type": "Http"
            },
            "CheckReservations": {
                "inputs": {
                    "method": "GET",
                    "uri": "https://fieldengineer.azurewebsites.net/api/BoilerParts/@{triggerBody()?['boilerPartId']}/Reserved"
                },
                "runAfter": {
                    "ParseBoilerParts": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            },
            "CompareStock": {
                "actions": {
                    "PostOrder": {
                        "inputs": {
                            "body": {
                                "boilerPartId": "@triggerBody()?['boilerPartId']",
                                "quantity": 50
                            },
                            "method": "POST",
                            "uri": "https://fieldengineer.azurewebsites.net/api/Orders"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "expression": {
                    "and": [
                        {
                            "greater": [
                                "@add(body('ParseReservations')?['totalReservations'], triggerBody()?['numberToReserve'])",
                                "@body('ParseBoilerParts')?['numberInStock']"
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "ParseReservations": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "ParseBoilerParts": {
                "inputs": {
                    "content": "@body('CheckBoilerParts')",
                    "schema": {
                        "properties": {
                            "categoryId": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "imageUrl": {
                                "type": "string"
                            },
                            "name": {
                                "type": "string"
                            },
                            "numberInStock": {
                                "type": "integer"
                            },
                            "overview": {
                                "type": "string"
                            },
                            "price": {
                                "type": "number"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "CheckBoilerParts": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "ParseReservations": {
                "inputs": {
                    "content": "@body('CheckReservations')",
                    "schema": {
                        "properties": {
                            "id": {
                                "type": "integer"
                            },
                            "totalReservations": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "CheckReservations": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "PostReservation": {
                "inputs": {
                    "body": {
                        "boilerPartId": "@triggerBody()?['boilerPartId']",
                        "engineerId": "@triggerBody()?['engineerId']",
                        "numberToReserve": "@triggerBody()?['numberToReserve']"
                    },
                    "method": "POST",
                    "uri": "https://fieldengineer.azurewebsites.net/api/reservations/"
                },
                "runAfter": {
                    "CompareStock": [
                        "Succeeded"
                    ]
                },
                "type": "Http"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "boilerPartId": {
                                "type": "integer"
                            },
                            "engineerId": {
                                "type": "string"
                            },
                            "numberToReserve": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "parameters": {}
}